<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Call_Manager.Properties.Settings.CallManagerConnectionString"
            connectionString="Data Source=DEREKA-3800\CALLMANAGER;Initial Catalog=CallManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Call_Manager.Properties.Settings._3CXSupportDBaseConnectionString"
            connectionString="Data Source=MICHAELF-3800\SIGMANEST;Initial Catalog=3CXSupportDBase;Persist Security Info=True;User ID=AE;Password=ne$t123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>